@using DigitalLibrary.Client.Services
@inherits LayoutComponentBase
@inject IJSRuntime JS
@inject TrafficLogServices TrafficLogServices

<NavMenu />
<FilterBar />

<div class="main-content">
    @Body
</div>

<Footer />


@code{
    private bool _hasLogged = false;

    protected override async Task OnAfterRenderAsync(bool firstRender){
        
        if (firstRender && !_hasLogged)
        {
            _hasLogged = await TrafficLogServices.LogTraffic();
        }
    }
}