@inherits LayoutComponentBase
<style>
    .admin-content {
        margin-left: 250px;
        padding: 20px;
    }
</style>

<div class="admin-nav">
    <AdminNavMenu />
</div>

<div class="admin-content">
    @Body
</div>





