@inject NavigationManager Navigation
@using Microsoft.AspNetCore.Components.Routing

<style>
    .navbar ul {
        display: flex;
        gap: 0; /* Khoảng cách giữa các mục */
        padding: 0;
    }

        .navbar ul:last-child {
            margin-left: auto; /* Đẩy phần tử cuối (nút đăng nhập) sang phải */
        }
</style>

<nav class="navbar d-flex justify-content-between align-items-center">
    <ul class="d-flex list-unstyled mb-0">
        <li><NavLink href="/" Match="NavLinkMatch.All">🏠 Trang chủ</NavLink></li>
        <li><NavLink href="/about">📒 Giới thiệu</NavLink></li>
    </ul>
    <ul class="list-unstyled mb-0">
        <li @onclick="ShowLoginForm"><NavLink href="">🔑 Đăng nhập</NavLink></li>
    </ul>
</nav>

@if (isLoginFormVisible)
{
    <DigitalLibrary.Client.Pages.LoginForm OnClose="CloseLoginForm" />
}

@code {
    private bool isLoginFormVisible = false;

    private void ShowLoginForm()
    {
        isLoginFormVisible = true;
    }

    private void CloseLoginForm()
    {
        isLoginFormVisible = false;
    }
}