@using DigitalLibrary.Client.Services
@using DigitalLibrary.Shared.DTO
@using MudBlazor
@inject IJSRuntime JS
@inject SubjectsServices Subjects
@inject ISnackbar Snackbar


<div class="modal fade" id="EditSubject" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Sửa Chủ đề</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Tên chủ đề:</label>
                    <input class="form-control" @bind="editSubject.subjectname" />
                </div>

                <!-- Checkbox chọn trạng thái -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="statusCheck" @bind="editSubject.status">
                    <label class="form-check-label" for="statusCheck">
                        Kích Hoạt
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" @onclick="SaveSubject" data-bs-dismiss="modal">Lưu</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public SubjectDTO? Subject { get; set; } = new SubjectDTO();
    [Parameter] public EventCallback<string> OnSubjectEdited { get; set; }

    private SubjectDTO editSubject = new SubjectDTO();

    protected override void OnParametersSet()
    {
        if (Subject != null)
        {
            editSubject = new SubjectDTO
                {
                    id = Subject.id,
                    subjectname = Subject.subjectname,
                    status = Subject.status,
                    createdate = Subject.createdate
                };
        }
    }

    private async Task SaveSubject()
    {
        var result = await Subjects.EditSubjectAsync(editSubject);
        if (result)
        {
            await OnSubjectEdited.InvokeAsync("✅ Sửa chủ đề thành công!");
        }
        else
        {
            await OnSubjectEdited.InvokeAsync("❌ Xóa chủ đề thất bại!");
        }
    }
}
<style>
    .modal-footer button {
        width: 100px !important;
    }
</style>